/* div{
  border: 1px solid blue;
} */

/* IMAGEM FUNDO*/

.divLeft {
  float: left;
  position: relative;
  padding-left: 0;
  
}
#spaceText {
  font-size: 25px;
  color: #fff;
  
}


.textDiv{
 position: absolute;
 top: 0;
 left: 0;
 
 /*cor apenas para exmplo*/
 color: #fff;
}
/* BOTÕES */

.botao-dev {
  
  margin: 0 !important;

  text-decoration: none;
  cursor: pointer;
  padding: 10px 50px 10px 50px;
  border: 2px solid rgb(255, 255, 255);
  background: transparent;
  color: rgb(255, 255, 255);
  font-family: var(--font-primary);
  text-transform: uppercase;
  font-size: 1.2em;
  
  
}
.botao-dev{
  text-transform: uppercase;
}

.botao-dev:hover{
  background-color: rgb(255, 255, 255);
  color: black;
  text-decoration: none;
}
/* --------------------------------- */
@media (max-width:1180px){
  #brutal{
    line-height: 1.1em;
  }
}
@media (max-width:1024px){
  #bru{
    line-height: 1.1em;
    padding: 10px 0px 60px !important;
  }
 
}
@media (max-width:285px){
  #bru{
    line-height: 1.1em;
    padding: 10px 0px 80px !important;
  }
 
}

.brutal{
  margin-top: 0px !important;
  padding: 5px 0px 30px !important;
  height: 25px;
  font-family: var(--font-primary);
  color: white;
  font-size: 12px;
  background-color: var(--secundary);
}

p{
  margin-top: 20px;
  margin-bottom: 10px;
}
.mt-mt-2{
  margin-top: 120px;
}
.mt-only{
  margin-top: 140px;
}
/* IMAGEM FUNDO*/

.divLeft {
  float: left;
  position: relative;
  padding-left: 0;
  
}
#spaceText {
  font-size: 25px;
  color: #fff;
  
}



.textDiv{
 position: absolute;
 top: 0;
 left: 0;
 
 /*cor apenas para exmplo*/
 color: #fff;
}

/* RESPONSIVE TEXTO EXPERIENCE  */
@media (max-width: 50em) {
  .botao-dev{
    font-size: 1em !important;
    padding: 5px 10px 5px !important;
  }
  .divLeft{
    margin-top: -15px !important;
  }
}

@media (max-width: 40em) {
  .md-ia{
    font-size: 2em !important;
    margin-left: 1rem !important;
  }
  .md-ib{
    font-size: 1.1em !important;
  }
  .botao-dev{
    font-size: 1em !important;
    padding: 5px 10px 5px !important;
    
  }
}
@media (max-width:33em){
  .md-ia{
    font-size: 1.5em !important;
  }
  .md-ib{
    font-size: 1em !important;
  }
}

@media (max-width: 500px){
  .md-ia{
    font-size: 1.3em !important;
  }
  .md-ib{
    font-size: 0.9em !important;
  }
  .divLeft{
    margin-top: -15px !important;
  }
}

@media (max-width: 450px){
  .botao-dev{
    justify-content: center;
    left: 50%;
    top: 50%;
    transform: translate(8em, -40%);
  }
}
@media (max-width: 363px){
  .botao-dev{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(9em, -40%);
    font-size: 0.7em !important;
  }
}
@media (max-width: 360px){
  .botao-dev{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(14em, -40%);
    font-size: 0.5em !important;
  }
  .md-ia{
    font-size: 1em !important;
  }
  .md-ib{
    font-size: 0.6em !important;
  }
}
@media (max-width: 270px){
  .botao-dev{
    transform: translate(10em, -40%);
  }
  .md-ib{
    font-size: 0.5em !important;
  }
}
@media (max-width: 250px){
  .botao-dev{
    transform: translate(10em, -40%);
    font-size: 0.4em !important;
  }
  .md-ib{
    font-size: 0.4em !important;
  }
}










.container {
  width: 100%;
  max-width: 760px;
  margin: 0 auto;
  padding:  0 20px;
  
  
}
.web{
  top: 50px !important;
  font-size: 3rem;
  font-weight: 200;
  font-style: italic;
  color: var(--main-red);
  font-family: var(--font-secundary);
  font-style: italic !important;
  
}
.text-1 {
  top: 10px;
  z-index: 5;
  width: 100%;
  
}

.welcome-section-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 !important;
  padding: 0 !important;
}


/* CONFIGURAÇÃO BACKGROUND IMAGEM */
.bg-66 {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.bg-66 img{
   position: relative;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

@media (max-width:960px) {
  .bg-66 img{
    position: relative;
    object-fit: cover;
    width: 100% !important;
    height: 100vw !important;
  }
  
}